In [2]:
# loading files with pandas

import pandas as pd

#loading files with pandas

df = pd.read_csv('pokemon_data.csv')

#df_xlsx = pd.read_excel('pokemon_data.xlsx')

#df_txt = pd.read_csv('pokemon_data.txt', delimiter ='\t')

#print(df.head(4))
#print(df_xlsx.head(3))
#print(df_txt.head(4))

# Reading file in the pandas df (data framwork)

In [3]:
#Read head
df.columns

#read each columns
#print([['Name', 'Type 1', 'Hp']])

# read each columns
#print(df.iloc[0:4])

#iterrating through each row
#for index, row in df.iterrows():
    #print(index, row['Name'])
    
#getting the specific role
df.loc[df['Type 1'] == "Grass"]

#read a specific data (R,C)
#print(df.iloc[2,1])

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
48,43,Oddish,Grass,Poison,45,50,55,75,65,30,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
718,650,Chespin,Grass,NaN,56,61,65,48,45,38,6,False
719,651,Quilladin,Grass,NaN,61,78,95,56,58,57,6,False
720,652,Chesnaught,Grass,Fighting,88,107,122,74,75,64,6,False
740,672,Skiddo,Grass,NaN,66,65,48,62,57,52,6,False
741,673,Gogoat,Grass,NaN,123,100,62,97,81,68,6,False

# Sorting/Describing data

In [4]:
#display mean deviation values 
#df.describe()

#sorting
#df.sort_values('Name', ascending = False)

#the values name & Hp will be sorted in ascending and decending other
df.sort_values(['Name', 'HP'], ascending = [1,0])

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
510,460,Abomasnow,Grass,Ice,90,92,75,92,85,60,4,False
511,460,AbomasnowMega Abomasnow,Grass,Ice,90,132,105,132,105,30,4,False
68,63,Abra,Psychic,NaN,25,20,15,105,55,90,1,False
392,359,Absol,Dark,NaN,65,130,60,75,60,75,3,False
393,359,AbsolMega Absol,Dark,NaN,65,150,60,115,60,115,3,False
...,...,...,...,...,...,...,...,...,...,...,...,...
632,571,Zoroark,Dark,NaN,60,105,60,120,60,105,5,False
631,570,Zorua,Dark,NaN,40,65,40,80,40,65,5,False
46,41,Zubat,Poison,Flying,40,45,35,30,40,55,1,False
695,634,Zweilous,Dark,Dragon,72,85,70,65,70,58,5,False
794,718,Zygarde50% Forme,Dragon,Ground,108,100,121,81,95,95,6,True

# Making changes to the data

In [5]:
#creating a coloum[Total] to add all the  figures 
#df['Total'] = df['HP'] + df['Attack'] + df['Defense'] + df['Sp. Atk'] + df['Sp. Def'] + df['Speed']

#this will remove the column
#df = df.drop(columns=['Total'])

#adding the column back with another method
#note, (:) add all column, from index 4 to 10 it can't stop at 9, less error.
df['Total'] = df.iloc[:, 4:10].sum(axis=1)

#re-areging Total to the left hand side
cols = list(df.columns)
df = df[cols[0:4] + [cols[-1]] + cols[4:12]]

df.head(5)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

# Saving our data(Exporting into Desired Format)

In [10]:
 #df.to_csv('modified.csv', index=False)
#df.to_excel('modified.xlsx', index=False)
df.to_csv('modified.txt', index=False, sep ='\t')

# Filtering Data

In [43]:
#df[(df['Type 1'] == 'Grass') & (df['Type 2'] == 'Poison')] ##used & for AND in Pandas

#df[(df['Type 1'] == 'Grass') | (df['Type 2'] == 'Poison')] ##used | for OR in Pandas

#new_df = df[(df['Type 1'] == 'Grass') & (df['Type 2'] == 'Poison') & (df['HP'] > 70)] 

#new_df = new_df.to_csv('filtered.csv') # filtered the file and saved it in a new file 

#filtering columns with names mega
#df.loc[df['Name'].str.contains('Mega')]

#the Reverse removes columns with Mega
#df.loc[~df['Name'].str.contains('Mega')] # ~ replaces ! in pandas

#filtering  if Type 1 has Fire|Grass we need to import regular expression
import re

#df.loc[df['Type 1'].str.contains('Fire|Grass', regex=True)]
#df.loc[df['Type 1'].str.contains('fire|grass',flags=re.I,regex=True)] #ingore upper case

#filtering *(all) the names that starts with pi only from a-z
df.loc[df['Name'].str.contains('^pi[a-z]*',flags=re.I,regex=True)]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
20,16,Pidgey,Normal,Flying,251,40,45,40,35,35,56,1,False
21,17,Pidgeotto,Normal,Flying,349,63,60,55,50,50,71,1,False
22,18,Pidgeot,Normal,Flying,479,83,80,75,70,70,101,1,False
23,18,PidgeotMega Pidgeot,Normal,Flying,579,83,80,80,135,80,121,1,False
30,25,Pikachu,Electric,NaN,320,35,55,40,50,50,90,1,False
136,127,Pinsir,Bug,NaN,500,65,125,100,55,70,85,1,False
137,127,PinsirMega Pinsir,Bug,Flying,600,65,155,120,65,90,105,1,False
186,172,Pichu,Electric,NaN,205,20,40,15,35,35,60,2,False
219,204,Pineco,Bug,NaN,290,50,65,90,35,35,15,2,False
239,221,Piloswine,Ice,Ground,450,100,100,80,60,60,50,2,False
438,393,Piplup,Water,NaN,314,53,51,53,61,56,40,4,False
558,499,Pignite,Fire,Fighting,418,90,93,55,70,55,55,5,False
578,519,Pidove,Normal,Flying,264,50,55,50,36,30,43,5,False

# Conditions and change

In [64]:
#df.loc[df['Type 1'] == 'Fire', 'Type 1'] =  'Flamer' #replacing values

#df.loc[df['Type 1'] == 'Flamer', 'Type 1'] = 'Fire' # reverse

df.loc[df['Type 1'] == 'Flamer', 'Legendary'] = True

df.loc[df['Total'] > 500, ['Generation', 'Legendary']] = ['Test 1', 'test 2']

 

df

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True